.container{
    background-color: white;
    margin-top: 10px;
}

.form{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
    padding: 15px;
}

.form__newTask{
    padding: 10px;
    border: 1px #eee solid;
}

.button_newTask{
    background-color: teal;
    border: none;
    color: white;
    padding: 10px;    
}

.tasks{
    padding: 15px;
    margin: 0px;
}

.task{
    list-style-type: none;
    border-bottom: 1px #eee solid;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
}

.task--list{
    list-style-type: none;
}

.task--done{
    text-decoration: line-through;
}

.content{
    display: grid;
    align-items: center;
}

.buttonUndone{
    background-color: green;
    color: green;
    height: 30px;
    width: 30px;
    border: green;
}

.buttonUndone:active{
    border: black solid 2px;
}

.buttonDone{
    background-color: green;
    color: white;
    height: 30px;
    width: 30px;
}

.buttonRemove{
    background-color: red;
    color: white;
    height: 30px;
    width: 30px;
    border: red;
}

.buttonRemove:active{
    border: black solid 2px;
}

@media (max-width: 767px) {
    .form{
        grid-template-columns: auto;
    }
    .button_newTask{
        display: flex;
        flex: 100%;
        justify-content: center;
    }
    .content{
        word-break: break-word;
    }
    .task{
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }
}
   