.form{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
    padding: 15px;
}

.form__newTask{
    padding: 10px;
    border: 1px #eee solid;
}

.button_newTask{
    background-color: hsl(180, 100%, 25%);
    border: none;
    color: white;
    padding: 10px;    
}

.button_newTask:hover{
    background-color: hsl(180, 47%, 30%);
}

.button_newTask:active{
    background-color: hsl(180, 47%, 35%);
}

.content{
    display: grid;
    align-items: center;
}

.button__task{
    height: 30px;
    width: 30px;
}

.button__task--undone{
    background-color: hsl(120, 100%, 25%);
    color: green;
    border: green;
}

.button__task--undone:hover{
    background-color: hsl(120, 100%, 30%);
}

.button__task--undone:active{
    background-color: hsl(120, 100%, 35%);
    border: black solid 2px;
}

.button__task--done{
    background-color: green;
    color: white;
}

.button__task--remove{
    background-color: hsl(0, 100%, 47%);
    color: white;
    border: red;
}

.button__task--remove:hover{
    background-color: hsl(0, 100%, 52%);
}

.button__task--remove:active{
    border: black solid 2px;
    background-color: hsl(0, 100%, 57%);
}

@media (max-width: 767px) {
    .form{
        grid-template-columns: auto;
    }
    .content{
        word-break: break-word;
    }
    .task{
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }
}
   